<% include header %>
            <div class="posts">
                <section class="post">
                    <header class="post-header">
                        <h2 class="post-title"><%= title %></h2>

                        <p class="post-meta">
                            <span class="post-time"><%= formatDate(createdAt) %></span> <%= (tags ? 'About' : '') %> 
								<% tags && _.each(tags, function(tag){%>
									<a class="post-category post-category-design" href="#"><%= tag %></a> 
								<%})%>
                        </p>
                    </header>
                    <pre class="post-description"><%- content %></pre>
                </section>
				
				<p>All Posts</p>
				<ul>
				<% posts.each(function(post){%>
					<h2 class="post_title"><a href="<%= encodeURI(post.get('title')) %>.html"><%= post.get('title') %></a></h2>
				<%})%>
				</ul>
            </div>
 <% include footer %>
